asgiref
attrs
cachetools
certifi
cffi
channels
charset-normalizer
cryptography
defusedxml
dj-database-url
Django
django-allauth
django-filter
google-api-core
google-api-python-client
google-auth
google-auth-httplib2
google-auth-oauthlib
googleapis-common-protos
gunicorn
httplib2
idna
oauthlib
packaging
Pillow
protobuf
psycopg2-binary
pyasn1
pyasn1-modules
pycparser
PyJWT
pyparsing
python-decouple
python3-openid
requests
requests-oauthlib
rsa
sqlparse
typing_extensions
uritemplate
urllib3
