{% extends "base.html" %}

{% block title %}
    <title>Followers</title>
{% endblock %}
{% load static %}

{% block content %}
<div class="container">
    <h1>Followers</h1>
    <div class="row row-cols-3">
        {% for follow in followers %}
            <div class="col mb-3">
                <a href="{% url 'kuhub:profile_view' username=follow.follower.username %}" class="text-decoration-none">
                    <div class="card border border-1 rounded-4 p-3 d-flex align-items-center">
                        {% if follow.follower.profile.display_photo %}
                            <img class="me-3 rounded-circle" src="{{ follow.follower.profile.display_photo.url }}" width="45" height="45" alt="{{ follow.follower.username }}'s Profile">
                        {% else %}
                            <img class="me-3 rounded-circle" src="{% static 'media/media/store/profile_photos/IMG_7374.jpeg' %}" width="45" height="45" alt="{{ follow.follower.username }}'s Profile">
                        {% endif %}
                        <h4 class="card-title">{{ follow.user_followed.username }}</h4>
                    </div>
                </a>
            </div>
        {% endfor %}
    </div>
</div>
{% endblock %}

