{% extends "base.html" %}
{% load static %}


{% block title %}
    <title>Create Post</title>
{% endblock %}

{% block content %}

<style>
    body {
        background-color: #99C1B9;
    }
</style>

    <div class="container mt-4" style="font-family: 'Poppins'; ">
        <h4><span class="badge text-bg-success" style="margin-top: 3%; padding: 20px; border-radius: 50px; font-weight: normal;">Create Post</span></h4>
        <form action="{% url 'kuhub:create_post' %}" id="file-upload-form" method="post" enctype="multipart/form-data">
            {% csrf_token %}

            <div class="mb-3" style="margin-top: 2%;">
                <label class="form-label">Tags</label>
                <div style="width: 300px;">
                    {{ form.tag_name }}
                </div>
            </div>

            <div class="mb-3">
                <label class="form-label">Subjects</label>
                <div style="width: 500px;">
                    {{ form.subject }}
                </div>
            </div>

            <div class="mb-3">
                <label class="form-label">Content</label>
                <div style="width: 600px;">
                    {{ form.review }}
                </div>
            </div>

            <div class="mb-3" id="file-upload-container" style="display: none;">
                <label class="form-label">Upload File (.pdf) / Picture (.jpg, .jpeg, .png)</label>
                <input type="file" name="file_upload" id="file-upload-input" class="form-control" accept=".jpg, .jpeg, .png, .pdf">
            </div>

            <input type="submit" name="post" id="button_post" value="Post" class="btn btn-success">
        </form>
    </div>
    <script src="{% static 'kuhub/js/upload-file.js' %}"></script>
{% endblock %}
