{% extends "base.html" %}

{% block title %}
    <title>Review-Hub</title>
{% endblock %}

{% block content %}
{% load static %}

<style>
    .custom-border {
        border: 2px solid #0b791a;
        border-radius: 10px;
        padding: 20px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        background-color: #d9f7be;
    }
</style>

{% if messages %}
    {% for message in messages %}
        <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert" style="font-family: 'Poppins'">
            {{ message }}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    {% endfor %}
{% endif %}

<div class="container mt-4 custom-border">
    <form method="get" action="{% url 'kuhub:gen_ed_type_list' %}">
        <div class="row">
            <div class="col-md-4 mb-3">
                <label class="form-label"><strong>{{ form.subject_name.label }}:</strong></label>
                <div class="input-group" style="max-width: 400px;">
                    {{ form.subject_name }}
                    <button type="submit" class="btn btn-success">
                <i class="fa-solid fa-magnifying-glass fa-fade fa-xl"></i>
                <span style="font-family: 'Poppins'">Search</span>
            </button>
                </div>
            </div>
        </div>
    </form>
</div>

<div class="container mt-4" style="font-family: 'Poppins'">
    {% if type_list %}
        <ul class="nav nav-tabs" role="tablist">
            {% for type in type_list %}
                <li class="nav-item">
                    <a class="nav-link {% if forloop.first %}active{% endif %}" data-bs-toggle="tab" href="#{{ type|slugify }}">{{ type }}</a>
                </li>
            {% endfor %}
        </ul>
        <div class="tab-content">
            {% for type in type_list %}
                <div id="{{ type|slugify }}" class="container tab-pane fade {% if forloop.first %}show active{% endif %}"><br>
                    <div id="accordion-basic" class="accordion">
                        {% for subject in subject_list %}
                            {% if subject.type == type %}
                                <div class="accordion-item m-4 ">
                                    <button class="accordion-button" data-bs-toggle="collapse" data-bs-target="#{{ subject.course_code }}">
                                        {{ subject.course_code }} | {{ subject.name_eng }}
                                    </button>
                                    <div id="{{ subject.course_code }}" class="panel-collapse collapse">
                                        <div class="accordion-body">
                                            <p>Thai Name : {{ subject.name_th }}</p>
                                            <p>Unit : {{ subject.unit }}</p>
                                            <p>Hour : {{ subject.hour }}</p>
                                            <p>Faculty : {{ subject.faculty }}</p>
                                        </div>
                                    </div>
                                </div>
                            {% endif %}
                        {% endfor %}
                    </div>
                </div>
            {% endfor %}
        </div>
    {% else %}
        <h1>No Subject are available.</h1>
    {% endif %}
</div>
{% endblock %}
