{% extends "base.html" %}
{% load static %}
<!-- Add this to your HTML head section -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

{% block title %}
<title>{{group}} Group</title>
{% endblock %}
{% block content %}
<body>
{% if messages %}
    {% for message in messages %}
        <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert" style="font-family: 'Poppins'">
            {{ message }}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    {% endfor %}
{% endif %}
    <div class="container">
        <div class="group_header" style="display: inline;">
            <h2 style="display: inline;">{{ group }}</h2>
            <b>group member:</b>
            {% for member in group.group_member.all %}
                <span style="display: inline;"><a href="{% url 'kuhub:profile_view' member.username %}">
                    {{ member }}</a>
                </span>
            {% endfor %}
        </div>
<!-- Note's Modal   -->
         <div class="modal" id="noteModal" data-backdrop="static" data-keyboard="false">
            <div class="modal-dialog">
                <div class="modal-content">
                    <!-- Modal Header -->
                    <div class="modal-header">
                        <h3>Add note</h3>
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                    </div>
                    <!-- Modal Body -->
                    <div class="modal-body">
                        <form action="{% url 'kuhub:group_note' group.id %}" method="post">
                            {% csrf_token %}
                            <input type="text" name="note" value="note">
                            <input type="submit" value="Add">
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <!-- Task's Modal  -->
        <div class="modal" id="taskModal" data-backdrop="static" data-keyboard="false">
            <div class="modal-dialog">
                <div class="modal-content">
                    <!-- Modal Header -->
                    <div class="modal-header">
                        <h3>Add Task</h3>
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                    </div>
                    <!-- Modal Body -->
                    <div class="modal-body">
                        <form action="{% url 'kuhub:group_task' group.id %}" method="post">
                            {% csrf_token %}
                            <input type="text" name="task" value="task">
                            <label for="status">Status</label>
                                <select name="status" id="status">
                                    <option value="todo">Todo</option>
                                    <option value="in progress">In progress</option>
                                    <option value="done">Done</option>
                                </select>
                            <input type="submit" value="Add">
                        </form>
                    </div>
                </div>
            </div>
        </div>


        <div class="row">
            <div class="col-md-3">
                <div class="row">
                    <div class="card border border-dark border-3 m-2 rounded-3"
                         style="min-height: 40vh; max-height: 40vh; overflow-y: auto;">
                        <div class="card-header">
                            Notes
                            <button type="submit" class="btn btn-primary rounded-circle btn-floating btn-xs"
                                data-toggle="modal" data-target="#noteModal">
                                <i class="fas fa-circle-plus"></i>
                            </button>
                        </div>
                        <div class="card-body">
                            {% for note in notes %}
                            <div class="card border border-dark border-1 m-2 rounded-3"
                                 style="line-height: 1; margin-top: 10px;">
                                <span>
                                    <form method="post" action="{% url 'kuhub:note_delete' note.id %}">
                                        {% csrf_token %}
                                        <button type="submit" class="btn btn-success rounded-circle btn-floating btn-xs"
                                                style="display:flex; position:absolute; left:90%; top:-20%;
                                                                     width:23px; height:23px; align-items: center;
                                                                     justify-content: center;">
                                            <i class="fas fa-circle-minus"></i>
                                        </button>
                                    </form>
                                    <p class="textid">{{note.note_text}}</p>
                                </span>
                            </div>
                        {% endfor %}
                        </div>
                 </div>
                </div>
                <div class="row">
                    <div class="card border border-dark border-3 m-2 rounded-3"
                         style="min-height: 40vh; max-height: 40vh; overflow-y: auto;">
                        <div class="card-header">
                            Tasks
                             <button type="submit" class="btn btn-primary rounded-circle btn-floating btn-xs"
                                data-toggle="modal" data-target="#taskModal">
                                <i class="fas fa-circle-plus"></i>
                             </button>
                        </div>
                        <div class="card-body">
                            {% for task in tasks %}
                                <div class="card border border-dark border-1 m-2 rounded-3" style="line-height: 1; margin-top: 10px; ">
                                    <form method="post" action="{% url 'kuhub:task_delete' task.id %}">
                                        {% csrf_token %}
                                        <button type="submit" class="btn btn-success rounded-circle btn-floating btn-xs"
                                                style="display:flex; position:absolute; left:85%;
                                                                     width:23px; height:23px; align-items: center;
                                                                     justify-content: center;">
                                            <i class="fas fa-circle-minus"></i>
                                        </button>
                                    </form>
                                    <div class="card-body">
                                        <div class="row">
                                            <div class="col-1 item-center">
                                                {% if task.status == 'todo' %}
                                                    <span class="bi rounded-circle bi-xs" style=" color: transparent;
                                                                                                                -webkit-text-stroke-color: rgb(32, 151, 72);
                                                                                                                background-image: -webkit-linear-gradient(top, rgb(255, 41, 105), rgb(89, 39, 75));
                                                                                                                width: 20px; height:20px; text-align:center; display: inline-block;">
                                                        1
                                                    </span>
                                                {% elif task.status == 'done' %}
                                                    <span class="bi rounded-circle bi-xs" style=" color: transparent;
                                                                                                                -webkit-text-stroke-color: rgb(32, 151, 72);
                                                                                                                background-image: -webkit-linear-gradient(top, rgb(41, 255, 159), rgb(39, 85, 89));
                                                                                                                width: 20px; height:20px;
                                                                                                                text-align:center; display: inline-block;">
                                                        1
                                                    </span>
                                                {% elif task.status == 'in progress' %}
                                                    <span class="bi rounded-circle bi-xs" style=" color: transparent;
                                                                                                                -webkit-text-stroke-color: rgb(32, 151, 72);
                                                                                                                background-image: -webkit-linear-gradient(top, rgb(255, 252, 163), rgb(209, 153, 0));;
                                                                                                                width: 20px; height:20px;
                                                                                                                text-align:center; display: inline-block;">
                                                        1
                                                    </span>
                                                {% endif %}
                                            </div>
                                            <div class="col-9" style="margin-left:10px;">
                                                <p>{{task.task_text}}</p>
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="col-6">
                                                <button class="btn btn-link" data-toggle="collapse" data-target="#cardFooter{{ task.id }}" aria-expanded="true" aria-controls="cardFooter">
                                                    menu
                                                </button>
                                            </div>
                                            <div class="col-6">
                                                by {{ task.assign_user }}
                                            </div>
                                        </div>
                                    </div>
                                    <div id="cardFooter{{ task.id }}" class="collapse">
                                        <div class="card-footer">
                                            <div class="dropdown">
                                                <form id="statusForm{{task.id}}" action="{% url 'kuhub:change_task_status' task.id %}" method="post">
                                                    {% csrf_token %}
                                                    {% if task.status == 'todo' %}
                                                        <select name="status" id="statusSelect{{task.id}}">
                                                            <option value="none" selected disabled hidden style="background-color:rgb(255, 41, 105);">Todo</option>
                                                            <option value="in progress" style="background-color:rgb(255, 252, 163);">In progress</option>
                                                            <option value="done" style="background-color:rgb(41, 255, 159);">Done</option>
                                                        </select>
                                                    {% elif task.status == 'done' %}
                                                        <select name="status" id="statusSelect{{task.id}}">
                                                            <option value="todo" style="background-color:rgb(255, 41, 105);">Todo</option>
                                                            <option value="in progress" style="background-color:rgb(255, 252, 163);">In progress</option>
                                                            <option value="none"selected disabled hidden style="background-color:rgb(41, 255, 159);">Done</option>
                                                        </select>
                                                    {% elif task.status == 'in progress' %}
                                                        <select name="status" id="statusSelect{{task.id}}">
                                                            <option value="todo" style="background-color:rgb(255, 41, 105);">Todo</option>
                                                            <option value="none" selected disabled hidden style="background-color:rgb(255, 252, 163);">In progress</option>
                                                            <option value="done" style="background-color:rgb(41, 255, 159);">Done</option>
                                                        </select>
                                                    {% endif %}
                                                    <script>
                                                        // Attach a change event listener to the dropdown
                                                        $('#statusSelect{{task.id}}').change(function() {
                                                            // Submit the form when the dropdown value changes
                                                            $('#statusForm{{task.id}}').submit();
                                                        });
                                                    </script>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>

        </div>
            <div class="col-md-4">
                <div class="card border border-dark border-3 m-2 rounded-3" style="min-height: 82vh; max-height: 83vh; overflow-y: auto;">
                    <div class="card-header">
                        Meeting Event
                    </div>
                    <div class="card-body">
                        {% for event in events %}
                            <div class="card border border-dark border-2 m-2 rounded-3" style="line-height: 1; margin-top: 10px;">
                                <div class="card-header d-flex justify-content-between align-items-center">
                                    <span>Event: {{ event.summary }}</span>
                                    <form method="post" action="{% url 'kuhub:event_delete' event.id %}">
                                        {% csrf_token %}
                                        <input type="submit" class="btn btn-primary" value="delete">
                                    </form>
                                </div>
                                <div class="card-body">
                                    <ul>Description: {{ event.description }}</ul>
                                    <ul>Location: {{ event.location }}</ul>
                                    <ul>{{ event.show_time }}</ul>
                                    {% if event.link and event.link != None %}
                                        <ul>Link: <a href="{{ event.link }}">{{ event.link }}</a></ul>
                                    {% endif %}
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
                 <button type="button" class="btn btn-success rounded-circle btn-floating btn-lg " style="position: relative; bottom: 6%; left: 90%;">
                    <a href="{% url 'kuhub:group_event' group.id %}" style="color: white;">
                        <i class="fas fa-circle-plus"></i>
                    </a>
                 </button>
            </div>
            <div class="col-md-5">
                 <head>
    <script type='importmap'>
      {
        "imports": {
          "@fullcalendar/core": "https://cdn.skypack.dev/@fullcalendar/core@6.1.9",
          "@fullcalendar/daygrid": "https://cdn.skypack.dev/@fullcalendar/daygrid@6.1.9",
          "@fullcalendar/timegrid": "https://cdn.skypack.dev/@fullcalendar/timegrid@6.1.9"

        }
      }
    </script>
    <script type='module'>
      import { Calendar } from '@fullcalendar/core'
      import dayGridPlugin from '@fullcalendar/daygrid'
      import timeGridPlugin from '@fullcalendar/timegrid'

      document.addEventListener('DOMContentLoaded', function() {
        const colors = [];
        colors.push("#F96E39", "#FFC300", "#900C3F", "#85D19B", "#498CAF");
        const calendarEl = document.getElementById('calendar')
        const calendar = new Calendar(calendarEl, {
          plugins: [dayGridPlugin, timeGridPlugin],
          headerToolbar: {
            left: 'prev,next today',
            center: 'title',
            right: 'dayGridMonth,timeGridWeek,timeGridDay'
          },
          events: [
                {% for i in events %}
                {
                    title: "{{ i.summary}}",
                    start: '{{ i.start_time }}',
                    end: '{{ i.end_time }}',
                    color: colors[{{i.id}}%5]
                },
                {% endfor %}

            ]
        })
        calendar.render()
      })

    </script>
  </head>
  <body>
    <div id='calendar'></div>
  </body>
            </div>
        </div>
    </div>

<script>
    function replaceURLWithHTMLLinks() {
        var textElements = document.getElementsByClassName("textid");
        for (var i = 0; i < textElements.length; i++) {
            var textid = textElements[i].innerHTML;
            var exp = /(https?:\/\/\S+)/ig;  // Simplified regular expression for URLs
            var replacedText = textid.replace(exp, function(match) {
                console.log("Found URL:", match);
                return "<a href='" + match + "' target='_blank'>" + match + "</a>";
            });
            textElements[i].innerHTML = replacedText;
        }
    }
    replaceURLWithHTMLLinks();
</script>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.1/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

</body>
{% endblock %}