{% extends "base.html" %}

{% block title %}
<title xmlns="http://www.w3.org/1999/html">Group-Hub</title>
{% endblock %}
<body>
<div class="container">

{% block content %}
{% if messages %}
    {% for message in messages %}
        <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert" style="font-family: 'Poppins'">
            {{ message }}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    {% endfor %}
{% endif %}
    <div class="nav flex-column">
        <div class="row">
            <div class="col-md-2 d-none d-md-block bg-light sidebar" style="background-color: white; height: 100vh;">
                <h2><b>My Group</b></h2>
                {% if user.is_authenticated %}
                {% for group in user_groups %}
                    <a href="{% url 'kuhub:group_detail' group.id %}">{{ group.group_name }}</a>
                {% endfor %}
                {% endif %}
            </div>
        </div>
    </div>
    <div class="container" style="margin-left:18%; position:absolute; top: 70px; width:80vw;">
    {% if group_list %}
    <div class="row">
        {% for group in group_list %}
        <div class="col-md-3">
                    <div class="card border border-dark border-3 m-2 rounded-3" style="max-width: 23rem;">
                        <div class="card-header">
                            {% if group.was_published_recently_post %}
                                <h5>NEW!</h5>
                            {% endif %}
                            {{ group.id }} |
                            {% for tag in group.group_tags.all %}
                                {{ tag.tag_text }},
                            {% endfor %}
                        </div>
                        <div class="card-body">
                            <img class="float-start rounded-circle" src="https://images.unsplash.com/photo-1603984973710-e915353b35fa?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Mnx8YW1hemluZyUyMHBpY3R1cmV8ZW58MHx8MHx8fDA%3D&w=1000&q=80" width="50" height="50">
                            <h4 class="card-title m-auto h4">{{ group.group_name }}</h4>
                            <br>
                            <p class="card-text">{{ group.group_description }}</p>
                            <h6 class="card-subtitle mb-2 text-muted">{{ group.create_date }}</h6>
                            <button type="submit" class="btn btn-primary" data-toggle="modal" data-target="#myModal{{ group.id }}">
                                Join
                            </button>
                            <!--create modal-->
                                <div class="modal" id="myModal{{ group.id }}" data-backdrop="static" data-keyboard="false">
                                    <div class="modal-dialog">
                                        <div class="modal-content">
                                            <!-- Modal Header -->
                                            <div class="modal-header">
                                                <h4 class="modal-title">Group Joining</h4>
                                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                                            </div>

                                            <!-- Modal Body -->
                                            <div class="modal-body">
                                                <p>You are going to join <b>{{group.group_name}}</b></p>
                                                {% if group.group_password %}
                                                <p>Enter Password:</p>
                                                <form method="post" action="{% url 'kuhub:join' group.id %}">
                                                    {% csrf_token %}
                                                    <input type="password" name="pass" placeholder="Password">
                                                    <input type="submit" class="btn btn-primary" value="Join">
                                                </form>
                                                {% else %}
                                                <form method="post" action="{% url 'kuhub:join' group.id %}">
                                                    {% csrf_token %}
                                                    <input type="submit" class="btn btn-primary" value="Join">
                                                </form>
                                                {% endif %}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            <button class="btn btn-link" data-toggle="collapse" data-target="#cardFooter{{ group.id }}" aria-expanded="true" aria-controls="cardFooter">
                             Group's Member
                            </button>
                        </div>
                        <div id="cardFooter{{ group.id }}" class="collapse">
                            <div class="card-footer">
                                {% for member in group.group_member.all %}
                                    <ul>{{member}}</ul>
                                {% endfor %}
                                Member's number : {{group.group_member.all.count}}
                            </div>
                        </div>
                    </div>
             </div>
        {% endfor %}
            </div>
        </div>
    {% else %}
        <h1>No group are available.</h1>
    {% endif %}
</div>
    </div>
<!--Create Group button-->
<style>
        #create_post {
            display: none;
        }
    </style>
<button type="button" class="btn btn-success rounded-circle btn-floating btn-lg "
            style="
            position: fixed;
            bottom: 30px;
            right: 30px;">
        <a href="{% url 'kuhub:create_group' %}" style="color: white;">
            <i class="fas fa-circle-plus"></i>
        </a>
    </button>



<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.1/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

</body>
{% endblock %}

