{% extends "base.html" %}
{% load static %}


{% block title %}
    <title>Create Group</title>
{% endblock %}

{% block content %}
<style>
    body {
        background-color: #BFE89C;
        font-family: 'Poppins';
    }
</style>

<div class="container mt-5" style="font-family: 'Poppins';">
    <h4><span class="badge rounded-pill shadow p-3 d-flex justify-content-center" style="font-family: 'Poppins'; margin-top: 5%; margin-bottom: 3%;font-weight: normal; background-color: #36816C;">Create Group</span></h4>
    <form action="{% url 'kuhub:create_group' %}" method="post" style="font-weight: 600;">
            {% csrf_token %}
           <div class="mb-3">
            <label class="form-label">Group Name:</label>
               <div>
               {{ form.name }}
               </div>
            </div>
            <div class="mb-3">
                <label class="form-label">Tags:</label>
                <div>
                {{ form.tag_name }}
                </div>
            </div>
            <div class="mb-3">
                <label class="form-label">Description:</label>
                <div>
                {{ form.description }}
                </div>
            </div>
            <div class="mb-3">
                <label class="form-label">Password:</label>
                <div>
                {{ form.password }}
                    </div>
            </div>
            <div class="mb-3">
                <label class="form-label">Password again:</label>
                <div>
                {{ form.password_2 }}
                    </div>
                {% for message in messages %}
                   <p>{{ message }}</p>
                {% endfor %}
            </div>
        <input type="submit" value="Create Group" class="btn btn-success" style=" margin-bottom: 5%;">
    </form>
    </div>
{% endblock %}