{% extends "base.html" %}

{% block title %}
<title xmlns="http://www.w3.org/1999/html">Group-Hub</title>
{% endblock %}
<body>
<div class="container">

{% block content %}
{% load static %}
<script src="https://kit.fontawesome.com/69adf0a164.js" crossorigin="anonymous"></script>
<style>
    body {
        background-color: #BFE89C;
        font-family: 'Poppins';
    }
    .custom-border {
        border-radius: 10px;
        padding: 20px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        background-color: #C5E7DD;
    }
</style>

<!-- Side bar -->
    <div class="nav flex-column">
        <div class="row">
            <div class="col-md-2 d-none d-md-block bg-light sidebar" style="background-color: white; height: 100vh;">
                <div class="d-flex justify-content-center" style="margin-top: 30px; margin-bottom: 20px;">
                    <h2><b>My Group</b></h2>
                </div>                  
                {% if user.is_authenticated %}
                {% for group in user_groups %}
                    <a href="{% url 'kuhub:group_detail' group.id %}" style="font-weight: 600; text-decoration-line: none; color: #0b791a; font-size: large; margin-left: 20px;">{{ group.group_name }}<br></a>
                {% endfor %}
                {% endif %}
            </div>
        </div>
    </div>

<!-- Available Group  -->
    <div class="container" style="margin-left:18%; position:absolute; top: 70px; width:80vw;">
        {% if messages %}
            {% for message in messages %}
                <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert" style="font-family: 'Poppins'; background-color: #fff3cd; margin-top: 2%;">
                    {{ message }}
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
            {% endfor %}
        {% endif %}

        <h4><span class="badge rounded-pill shadow p-3 d-flex justify-content-center" style="font-family: 'Poppins'; margin-top: 5%; margin-bottom: 3%;font-weight: normal; background-color: #36816C;">All Available Groups</span></h4>
        {% if group_list %}
        <div class="row">
            {% for group in group_list %}
            <div class="col-md-3">
                        <div class="card border border-1 rounded-4" style="max-width: 23rem;">
                            <div class="card-header">
                                {% if group.was_published_recently_post %}
                                    <span class="badge rounded-pill text-bg-danger" style="text-align: center; margin-right: 5px;">New!</span>
                                {% endif %}
                                {% for tag in group.group_tags.all %}
                                <span class="badge rounded-pill text-bg" style="color: white !important; background-color: #4BAA7F !important;">{{ tag.tag_text }}</span>
                                {% endfor %}
                            </div>
                            <div class="card-body">
                                <h4 class="card-title" style="font-weight: 550; margin-bottom: 0;">{{ group.group_name }}</h4>
                                <br>
                                <p class="card-text">{{ group.group_description }}</p>
                                <h6 class="card-subtitle mb-2 text-muted"><i class="fa-regular fa-calendar" style="margin-right: 10px;"></i>{{ group.create_date }}</h6>
                                <button type="submit" class="btn btn-primary" data-toggle="modal" data-target="#myModal{{ group.id }}">
                                    Join
                                </button>
                                <!--create modal-->
                                    <div class="modal" id="myModal{{ group.id }}" data-backdrop="static" data-keyboard="false">
                                        <div class="modal-dialog">
                                            <div class="modal-content">
                                                <!-- Modal Header -->
                                                <div class="modal-header">
                                                    <h4 class="modal-title">Group Joining</h4>
                                                    <button type="button" class="btn-close text-reset" data-dismiss="modal"></button>
                                                </div>

                                                <!-- Modal Body -->
                                                <div class="modal-body">
                                                    <p>You are going to join <b>{{group.group_name}}</b></p>
                                                    {% if group.group_password %}
                                                    <form method="post" action="{% url 'kuhub:join' group.id %}">
                                                        {% csrf_token %}
                                                
                                                        <div class="row">
                                                            <div class="col-12">
                                                                <div class="input-group">
                                                                    <p class="mr-2" style="margin-right: 10px;">Enter Password:</p>
                                                                    <input type="password" name="pass" class="form-control" placeholder="Password">
                                                                </div>
                                                            </div>
                                                            <div class="d-flex justify-content-end" style="margin-top: 10px;">
                                                                <input type="submit" class="btn btn-primary" value="Join">
                                                            </div>
                                                        </div>
                                                    </form>
                                                    {% else %}
                                                    <form method="post" action="{% url 'kuhub:join' group.id %}">
                                                        {% csrf_token %}
                                                        <div class="row">
                                                            <div class="d-flex justify-content-end" style="margin-top: 10px;">
                                                                <input type="submit" class="btn btn-primary" value="Join">
                                                            </div>
                                                        </div>
                                                    </form>
                                                    {% endif %}
                                                </div>
                                                
                                            </div>
                                        </div>
                                    </div>
                                <button class="btn btn-link" data-toggle="collapse" data-target="#cardFooter{{ group.id }}" aria-expanded="true" aria-controls="cardFooter" style="text-decoration-line: none;">
                                Group's Member
                                </button>
                            </div>
                            <div id="cardFooter{{ group.id }}" class="collapse">
                                <div class="card-footer">
                                    <div style="font-weight: 600; margin-bottom: 5%;">Number of members :  {{group.group_member.all.count}}</div>
                                    {% for member in group.group_member.all %}
                                        <ul>{{member}}</ul>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                </div>
            {% endfor %}
                </div>
            </div>
        {% else %}
            <h1>No group are available.</h1>
        {% endif %}
</div>
    </div>

<!--Create Group button-->
<style>
        #create_post {
            display: none;
        }
    </style>
    <button type="button" class="round-create"><a href="{% url 'kuhub:create_group' %}" 
        style="text-decoration: none; color: white;
        display: flex;
        align-items: center;
        justify-content: center;">
        <i class="fa-solid fa-plus" style="color: #ffffff; font-size: 24px;"></i>
    </a></button>

<link rel="stylesheet" href="{% static 'kuhub/style.css' %}">
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.1/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

</body>
{% endblock %}

