{% extends "base.html" %}

{% block title %}
    <title>Group-Hub</title>
{% endblock %}
<div class="container">

{% block content %}
    <div class="nav flex-column">
        <div class="row">
            <div class="col-md-2 d-none d-md-block bg-light sidebar" style="background-color: white; height: 100vh;">
                <h2><b>My Group</b></h2>
                {% if user.is_authenticated %}
                {% for group in user_groups %}
                    <ul>{{ group.group_name }}</ul>
                {% endfor %}
            {% endif %}
                {% if messages %}
        <ul class="messages">
            {% for message in messages %}
                <li>{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}
            </div>
        </div>
    </div>
    <div class="container" style="margin-left:18rem; position:absolute; top: 70px;">
    {% if group_list %}
    <div class="row">
        {% for group in group_list %}
        <div class="col-md-3">
                    <div class="card border border-dark border-3 m-2 rounded-3" style="max-width: 23rem;">
                        <div class="card-header">
                            {% if group.was_published_recently_post %}
                                <h3>NEW!</h3>
                            {% endif %}
                            {{ group.id }} |
                            {% for tag in group.group_tags.all %}
                                {{ tag.tag_text }},
                            {% endfor %}
                        </div>
                        <div class="card-body">
                            <img class="float-start rounded-circle" src="https://images.unsplash.com/photo-1603984973710-e915353b35fa?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Mnx8YW1hemluZyUyMHBpY3R1cmV8ZW58MHx8MHx8fDA%3D&w=1000&q=80" width="50" height="50">
                            <h4 class="card-title m-auto h1">{{ group.group_name }}</h4>
                            <br>
                            <p class="card-text">{{ group.group_description }}</p>
                            <h6 class="card-subtitle mb-2 text-muted">{{ group.create_date }}</h6>
                           <form method="post" action="{% url 'kuhub:join' group.id %}">
                            {% csrf_token %}
                            <input type="submit" value="Join">
                              </form>
                        </div>
                    </div>
             </div>
        {% endfor %}
            </div>
        </div>
    {% else %}
        <h1>No group are available.</h1>
    {% endif %}
</div>
    </div>
</div>


{% endblock %}