{% extends "base.html" %}

{% block title %}
    <title>{{ profile.user.username }}'s Profile</title>
{% endblock %}

{% load static %}
<script src="https://kit.fontawesome.com/69adf0a164.js" crossorigin="anonymous"></script>

{% block content %}
{% if messages %}
    {% for message in messages %}
        <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
            {{ message }}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    {% endfor %}
{% endif %}

<div class="container mt-4">
    <div class="alert alert-success" role="alert">
        <div class="welcome-user-box">
            <div class="profile-photo-container">
                {% if profile.display_photo %}
                    <img src="{{ profile.display_photo.url }}" alt="{{ profile.user.username }}'s Profile Photo" class="me-2 rounded-circle" width="100px" height="105">
                {% else %}
                    <img src="{% static 'media/media/store/profile_photos/IMG_7374.jpeg' %}" alt="Default Profile Photo" class="me-2 rounded-circle" width="100px" height="105">
                {% endif %}
            </div>
            <div class="welcome-user-info">
                <h2>{{ profile.user.username }}</h2>
                <p>Followers: <span id="followersCount">{{ followers_count.count }}</span> Following: {{ following_count.count }}</p>
                {% if user.is_authenticated and user != profile.user %}
                    <button id="followBtn" class="btn btn-primary" onclick="toggleFollow({{ profile.user.id }}, {{ is_following|yesno:"true,false" }})">
                        {% if is_following %}
                            Unfollow
                        {% else %}
                            Follow
                        {% endif %}
                    </button>
                {% endif %}
            </div>
        </div>
    </div>

    {% if profile.biography %}
        <div class="card mb-4">
            <div class="card-body">
                <p class="card-text">Biography: {{ profile.biography }}</p>
            </div>
        </div>
    {% endif %}
</div>

<script>
    var initialFollowingStatus = {{ is_following|yesno:"true,false" }};

    function toggleFollow(userId) {
        $.ajax({
            url: `/kuhub/toggle-follow/${userId}/`,
            method: 'POST',
            headers: { 'X-CSRFToken': getCookie('csrftoken') },
            success: function (data) {
                // Update button text and counts based on server response
                $('#followBtn').text(data.is_following ? 'Unfollow' : 'Follow');
                $('#followersCount').text(data.followers_count);
            },
            error: function (error) {
                console.log('Error:', error);
            }
        });
    }

    // Function to get the CSRF token from the cookie
    function getCookie(name) {
        let cookieValue = null;
        if (document.cookie && document.cookie !== '') {
            const cookies = document.cookie.split(';');
            for (let i = 0; i < cookies.length; i++) {
                const cookie = cookies[i].trim();
                if (cookie.startsWith(name + '=')) {
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    break;
                }
            }
        }
        return cookieValue;
    }

    // Update the button text based on the initial following status
    $(document).ready(function () {
        $('#followBtn').text(initialFollowingStatus ? 'Unfollow' : 'Follow');
    });
</script>

<style>
    .welcome-user-box {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .profile-photo {
        width: 100%;
        height: auto;
    }

    .welcome-user-info {
        flex-grow: 1;
    }

    .card {
        margin-top: 20px;
    }
</style>

{% endblock %}
