{% extends "base.html" %}

{% block title %}
    <title>{{ profile.user.username }}'s Profile</title>
{% endblock %}

{% load static %}
<script src="https://kit.fontawesome.com/69adf0a164.js" crossorigin="anonymous"></script>

{% block content %}

{% if messages %}
    {% for message in messages %}
        <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert" style="font-family: 'Poppins'">
            {{ message }}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    {% endfor %}
{% endif %}

<div class="container mt-5 d-flex justify-content-center" style="font-family: 'Poppins'">
    <div class="card p-3">
        <div class="d-flex align-items-center">
            <div class="float-start profile-photo-container">
                {% if profile.display_photo %}
                    <img src="{{ profile.display_photo }}" alt="{{ profile.user.username }}'s Profile Photo" class="float-start me-2 rounded-circle" width="100px" height="100px">
                {% else %}
                    <img src="{% static 'images\default_profile.jpg' %}" alt="Default Profile Photo" class="float-start me-2 rounded-circle" width="100px" height="100px">
                {% endif %}
            </div>
            <div class="welcome-user-info ml-3 w-100" style="margin-left: 5%;">
                <h2 class="mb-0 mt-0">{{ profile.user.username }}</h2>
                {% if profile.biography %}
                    <span class="biography">{{ profile.biography }}</span>
                {% endif %}
                <div class="p-2 mt-2 bg-primary d-flex justify-content-between rounded text-white stats">
                    <div class="d-flex flex-column">
                        <span class="followers">Followers</span>
                        <span id="followersCount">{{ followers_count.count }}</span>
                    </div>
                    <div class="d-flex flex-column">
                        <span class="following">Following</span>
                        <span class="countfollowing">{{ following_count.count }}</span>
                    </div>
                </div>
                {% if user.is_authenticated and user != profile.user %}
                    <button id="followBtn" class="btn btn-primary bottom-0 end-0" style="margin-top: 10px;" onclick="toggleFollow({{ profile.user.id }}, {{ is_following|yesno:"true,false" }})">
                        {% if is_following %}
                            Unfollow
                        {% else %}
                            Follow
                        {% endif %}
                    </button>
                {% endif %}
            </div>
        </div>
    </div>
</div>
<div class="container" style="font-family: 'Poppins'; margin-top: 50px;">
{% if posts_list %}
    {% for post in posts_list %}
        <div class="card border border-1 rounded-4" style="width: 100%;">
            <div class="card-header">
                {% if post.was_published_recently_post %}
                    <span class="badge" style="background-color: red; text-align: center; margin-right: 5px;">New!</span>
                {% endif %}
                {{ post.tag_id.tag_text }} |
                <a href="{% url 'kuhub:subject_detail' post.subject.course_code %}">{{ post.subject.course_code }} {{ post.subject.name_eng }}</a> |
                <a href="{% url 'kuhub:gen_ed_type_list' %}#{{ post.subject.type|slugify }}">{{ post.subject.type }}</a>
            </div>
            <div class="card-body position-relative">
                <div class="dropdown position-absolute top-0 end-0">
                    <button class="btn btn-link kebab-menu" type="button" id="kebabMenu{{ post.pk }}" data-bs-toggle="dropdown" aria-expanded="false">
                        <i class="fas fa-ellipsis-v"></i>
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="kebabMenu{{ post.pk }}" style="box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);">
                        {% if user.is_authenticated and post.username == user %}
                            <li><a class="dropdown-item" href="#">Edit Post</a></li>
                        {% else %}
                            <li><a class="dropdown-item" href="#">Report</a></li>
                        {% endif %}
                    </ul>
                </div>
                {% with profile=post.username.profile.display_photo %}
                    <div class="d-flex align-items-center"> <!-- Use a flex container for alignment -->
                        <img class="me-2 rounded-circle" src="{{ profile }}" width="45" height="45" alt="{{ post.username }}'s Profile">
                        <h4 class="card-title" style="font-weight: 550; margin-bottom: 0;">{{ post.username }}</h4>
                    </div>
                {% endwith %}
                <br>
                <p class="card-text">{{ post.post_content }}</p>
                <h6 class="card-subtitle mb-2 text-muted"><i class="fa-regular fa-clock" style="margin-right: 10px;"></i>{{ post.post_date }}</h6>
            </div>
            <div class="card-footer custom-footer">
                <div class="button-group">
                    {% if user.is_authenticated %}
                        <button type="button" class="btn btn-link" id="like-btn-{{ post.pk }}" data-content="{{ post.pk }}" onclick="like_button_click('{{ post.pk }}')">
                            <i class="{{ like_icon_styles.forloop.counter0 }}"></i>
                        </button>
                        <span id="likes-count-{{ post.pk }}">{{ post.total_likes }}</span>

                        <button type="button" class="btn btn-link" id="dislike-btn-{{post.pk}}" data-content="{{ post.pk }}" onclick="dislike_button_click('{{ post.pk }}')">
                            <i class="{{ dislike_icon_styles.forloop.counter0 }}"></i>
                        </button>
                        <span id="dislikes-count-{{ post.pk }}">{{ post.total_dislikes }}</span>

                    {% else %}
                        <form action="{% url 'account_login' %}">
                            <button type="submit" class="btn btn-link">
                                <i class="fa-regular fa-thumbs-up"></i>
                            </button>
                            <span>{{ post.total_likes }}</span>
                            <button type="submit" class="btn btn-link">
                                <i class="fa-regular fa-thumbs-down"></i>
                            </button>
                            <span>{{ post.total_dislikes }}</span>
                        </form>
                    {% endif %}
                </div>
            </div>
        </div>
    {% endfor %}
{% else %}
    <h3 style="text-align: center; color: whitesmoke;">No posts are available.</h3>
{% endif %}
</div>


<script>

function click_button(postId, response) {
    console.log('Server response:', response);
    let like_count = response.data.likes;
    let dislike_count = response.data.dislikes;
    console.log('Like Count:', like_count);
    console.log('Dislike Count:', dislike_count);
    document.getElementById('likes-count-' + postId).innerText = like_count;
    document.getElementById('dislikes-count-' + postId).innerText = dislike_count;
    document.getElementById('like-btn-' + postId).innerHTML = '<i class="' + response.data.like_style + '"></i>';
    document.getElementById('dislike-btn-' + postId).innerHTML = '<i class="' + response.data.dislike_style + '"></i>';
}


function like_button_click(postId) {
    axios({
        url: '{% url "kuhub:like_post" %}',
        method: 'POST',
        data: {
            'post_id': postId,
        },
        headers: {'X-Requested-With': 'XMLHttpRequest', 'cookie': document.cookie},
        xsrfCookieName: 'csrftoken',
        xsrfHeaderName: 'X-CSRFToken',
        withCredentials: true,
    })
    .then(function (response) {
        click_button(postId, response);
    })
    .catch(function (error) {
        console.log('Error:', error);
    });
}

function dislike_button_click(postId) {
    axios({
        url: '{% url "kuhub:dislike_post" %}',
        method: 'POST',
        data: {
            'post_id': postId,
        },
        headers: {'X-Requested-With': 'XMLHttpRequest', 'cookie': document.cookie},
        xsrfCookieName: 'csrftoken',
        xsrfHeaderName: 'X-CSRFToken',
        withCredentials: true,
    })
    .then(function (response) {
        click_button(postId, response);
    })
    .catch(function (error) {
        console.log('Error:', error);
    });
}

var initialFollowingStatus = {{ is_following|yesno:"true,false" }};

function toggleFollow(userId) {
    $.ajax({
        url: `/kuhub/toggle-follow/${userId}/`,
        method: 'POST',
        headers: { 'X-CSRFToken': getCookie('csrftoken') },
        success: function (data) {
            // Update button text and counts based on server response
            $('#followBtn').text(data.is_following ? 'Unfollow' : 'Follow');
            $('#followersCount').text(data.followers_count);
        },
        error: function (error) {
            console.log('Error:', error);
        }
    });
}

// Function to get the CSRF token from the cookie
function getCookie(name) {
    let cookieValue = null;
    if (document.cookie && document.cookie !== '') {
        const cookies = document.cookie.split(';');
        for (let i = 0; i < cookies.length; i++) {
            const cookie = cookies[i].trim();
            if (cookie.startsWith(name + '=')) {
                cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                break;
            }
        }
    }
    return cookieValue;
}

// Update the button text based on the initial following status
$(document).ready(function () {
    $('#followBtn').text(initialFollowingStatus ? 'Unfollow' : 'Follow');
});
</script>

<style>
    .welcome-user-box {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .profile-photo {
        width: 100%;
        height: auto;
    }

    .welcome-user-info {
        flex-grow: 1;
    }

    .card {
        margin-top: 20px;
    }
</style>
<link rel="stylesheet" href="{% static 'kuhub/profile.css' %}">
{% endblock %}
