{% extends "base.html" %}

{% block title %}
    <title>Review-Hub</title>
{% endblock %}


{% block content %}
{% load static %}
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<link rel="stylesheet" href="{% static 'kuhub/style.css' %}">
<script src="https://kit.fontawesome.com/69adf0a164.js" crossorigin="anonymous"></script>

{% if messages %}
    {% for message in messages %}
        <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
            {{ message }}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    {% endfor %}
{% endif %}

<div class="container">
    {% if posts_list %}
        {% for post in posts_list %}
            <div class="card border border-1 rounded-4">
                <div class="card-body">
                    <img class="float-start rounded-circle" src="https://images.unsplash.com/photo-1603984973710-e915353b35fa?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Mnx8YW1hemluZyUyMHBpY3R1cmV8ZW58MHx8MHx8fDA%3D&w=1000&q=80" width="45" height="45">
                    <h4 class="card-title">{{ post.username }}</h4>
                    <br>
                    <p class="card-text">{{ post.post_content }}</p>
                    <h6 class="card-subtitle mb-2 text-muted"><i class="fa-regular fa-clock" style="margin-right: 5px;"></i>{{ post.post_date }}</h6>
                </div>
                <div class="card-footer custom-footer">
                    <div class="button-group">
                        <form action="{% url 'kuhub:like_post' %}" method="POST" id='{{ post.id }}' class="like-form">
                            {% csrf_token %}
                            <input type="hidden" name="post_id" value="{{ post.id }}">
                            <button type="submit" class="btn btn-link like-btn" data-content="{{ post.pk }}">
                                <i class="fa-regular fa-thumbs-up"></i>
                            </button>
                            {{ post.total_likes }}
                        </form>
                        <form action="{% url 'kuhub:dislike_post' %}" method="POST" class="dislike-form">
                            {% csrf_token %}
                            <input type="hidden" name="post_id" value="{{ post.id }}">
                            <button type="submit" class="btn btn-link" id="dislike_btn" data-content="{{ post.pk }}">
                                <i class="fa-regular fa-thumbs-down"></i>
                            </button>
                            {{ post.total_dislikes }}
                        </form>
                    </div>
                </div>
            </div>
        {% endfor %}
    {% else %}
        <h1>No posts are available.</h1>
    {% endif %}
</div>
{% endblock %}