{% extends "base.html" %}

{% block title %}
    <title>Review-Hub</title>
{% endblock %}

{% load static %}
    <script src="https://kit.fontawesome.com/69adf0a164.js" crossorigin="anonymous"></script>

{% block content %}

{% if messages %}
    {% for message in messages %}
        <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
            {{ message }}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    {% endfor %}
{% endif %}
<div class="container">
    {% if posts_list %}
        {% for post in posts_list %}
            <div class="card border border-1 rounded-4">
                <div class="card-body">
                    <img class="float-start rounded-circle" src="https://images.unsplash.com/photo-1603984973710-e915353b35fa?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Mnx8YW1hemluZyUyMHBpY3R1cmV8ZW58MHx8MHx8fDA%3D&w=1000&q=80" width="45" height="45">
                    <h4 class="card-title">{{ post.username }}</h4>
                    <br>
                    <p class="card-text">{{ post.post_content }}</p>
                    <h6 class="card-subtitle mb-2 text-muted"><i class="fa-regular fa-clock" style="margin-right: 5px;"></i>{{ post.post_date }}</h6>
                </div>
                <div class="card-footer custom-footer">
                    <i class="fa-regular fa-thumbs-up"></i> {{ post.post_likes }} <i style="margin-right: 15px;"></i>
                    <i class="fa-regular fa-thumbs-down"></i> {{ post.post_dislikes }} <i style="margin-right: 15px;"></i>
                    <i class="fa-solid fa-download"></i> {{ post.downloads.first.download_count | default:0 }} <i style="margin-right: 15px;"></i>
                </div>
            </div>
        {% endfor %}
    {% else %}
        <h1>No posts are available.</h1>
    {% endif %}
</div>
<link rel="stylesheet" href="{% static 'kuhub/style.css' %}">

{% endblock %}