{% extends "base.html" %}

{% block title %}
    <title>Review-Hub</title>
{% endblock %}


{% block content %}
{% load custom_filters %}
{% load static %}

{% if messages %}
    {% for message in messages %}
        <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert" style="font-family: 'Poppins'">
            {{ message }}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    {% endfor %}
{% endif %}
<div class="container" style="font-family: 'Poppins'">
    {% if posts_list %}
        {% for post in posts_list %}
            <div class="card border border-1 rounded-4">
                <div class="card-header">
                    <div class="tag-text">{{ post.tag_id.tag_text }}
                    {% if post.was_published_recently_post %}
                            <span class="badge" style="background-color: red; text-align: center; margin-left: 5px;">New!</span>
                    {% endif %}
                    </div>
                </div>
                <div class="card-body">
                    <a href="{% url 'kuhub:profile_view' username=post.username %}">
                        {% if post.username.profile.display_photo %}
                            <img class="me-2 rounded-circle" src="{{ post.user.profile.display_photo.url }}" width="45" height="45" alt="{{ post.username }}'s Profile">
                        {% else %}
                            <img class="me-2 rounded-circle" src="{% static 'media/media/store/profile_photos/IMG_7374.jpeg' %}" width="45" height="45" alt="{{ post.username }}'s Profile">
                        {% endif %}
                    </a>
                    <h4 class="card-title">{{ post.username }}</h4>
                    <br>
                    <p class="card-text">{{ post.post_content }}</p>
                    <h6 class="card-subtitle mb-2 text-muted"><i class="fa-regular fa-clock" style="margin-right: 5px;"></i>{{ post.post_date }}</h6>
                </div>
                <div class="card-footer custom-footer">
                    <div class="follow-button-section">
                        {% if user.is_authenticated and user != profile.user %}
                            <button type="button" id="followBtn" class="btn btn-primary" onclick="toggleFollow({{ profile.user.id }}, {{ is_following|yesno:"true,false" }}, event)">
                                {% if is_following %}
                                    Unfollow
                                {% else %}
                                    Follow
                                {% endif %}
                            </button>
                        {% endif %}
                    </div>
                    <div class="button-group">
                        {% if user.is_authenticated %}
                            <button type="button" class="btn btn-link" id="like-btn-{{ post.pk }}" data-content="{{ post.pk }}" onclick="like_button_click('{{ post.pk }}')">
                                <i class="{{ like_icon_styles|index:forloop.counter0 }}"></i>
                            </button>
                            <span id="likes-count-{{ post.pk }}">{{ post.total_likes }}</span>

                            <button type="button" class="btn btn-link" id="dislike-btn-{{post.pk}}" data-content="{{ post.pk }}" onclick="dislike_button_click('{{ post.pk }}')">
                                <i class="{{ dislike_icon_styles|index:forloop.counter0 }}"></i>
                            </button>
                            <span id="dislikes-count-{{ post.pk }}">{{ post.total_dislikes }}</span>
                        {% else %}
                            <form action="{% url 'account_login' %}">
                                <button type="submit" class="btn btn-link">
                                    <i class="fa-regular fa-thumbs-up"></i>
                                </button>
                                <span>{{ post.total_likes }}</span>
                                <button type="submit" class="btn btn-link">
                                    <i class="fa-regular fa-thumbs-down"></i>
                                </button>
                                <span>{{ post.total_dislikes }}</span>
                            </form>
                        {% endif %}
                    </div>
                </div>
            </div>
        {% endfor %}
    {% else %}
        <h1>No posts are available.</h1>
    {% endif %}
</div>
<script>
function click_button(postId, response) {
    console.log('Server response:', response);
    let like_count = response.data.likes;
    let dislike_count = response.data.dislikes;
    console.log('Like Count:', like_count);
    console.log('Dislike Count:', dislike_count);
    document.getElementById('likes-count-' + postId).innerText = like_count;
    document.getElementById('dislikes-count-' + postId).innerText = dislike_count;
    document.getElementById('like-btn-' + postId).innerHTML = '<i class="' + response.data.like_style + '"></i>';
    document.getElementById('dislike-btn-' + postId).innerHTML = '<i class="' + response.data.dislike_style + '"></i>';
}


function like_button_click(postId) {
    axios({
        url: '{% url "kuhub:like_post" %}',
        method: 'POST',
        data: {
            'post_id': postId,
        },
        headers: {'X-Requested-With': 'XMLHttpRequest', 'cookie': document.cookie},
        xsrfCookieName: 'csrftoken',
        xsrfHeaderName: 'X-CSRFToken',
        withCredentials: true,
    })
    .then(function (response) {
        click_button(postId, response);
    })
    .catch(function (error) {
        console.log('Error:', error);
    });
}

function dislike_button_click(postId) {
    axios({
        url: '{% url "kuhub:dislike_post" %}',
        method: 'POST',
        data: {
            'post_id': postId,
        },
        headers: {'X-Requested-With': 'XMLHttpRequest', 'cookie': document.cookie},
        xsrfCookieName: 'csrftoken',
        xsrfHeaderName: 'X-CSRFToken',
        withCredentials: true,
    })
    .then(function (response) {
        click_button(postId, response);
    })
    .catch(function (error) {
        console.log('Error:', error);
    });
}

var initialFollowingStatus = {{ is_following|yesno:"true,false" }};

function toggleFollow(userId) {
        $.ajax({
            url: `/kuhub/toggle-follow/${userId}/`,
            method: 'POST',
            headers: { 'X-CSRFToken': getCookie('csrftoken') },
            success: function (data) {
                // Update button text and counts based on server response
                $('#followBtn').text(data.is_following ? 'Unfollow' : 'Follow');
                $('#followersCount').text(data.followers_count);
            },
            error: function (error) {
                console.log('Error:', error);
            }
        });
    }


function getCookie(name) {
    let cookieValue = null;
    if (document.cookie && document.cookie !== '') {
        const cookies = document.cookie.split(';');
        for (let i = 0; i < cookies.length; i++) {
            const cookie = cookies[i].trim();
            if (cookie.startsWith(name + '=')) {
                cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                break;
            }
        }
    }
    return cookieValue;
}

$(document).ready(function () {
    $('#followBtn').text(initialFollowingStatus ? 'Unfollow' : 'Follow');
});
</script>

<style>
    .username-section {
        float: right;
        text-align: right;
    }

    .follow-button-section {
        position: absolute;
        top: 0;
        right: 0;
        margin: 10px;
    }
</style>
{% endblock %}

