{% extends "base.html" %}

{% block title %}
    <title>Summary-Hub</title>
{% endblock %}

{% block content %}
{% load custom_filters %}
{% load static %}
<div class="container">
    {% if summary_post_list %}
        {% for post in summary_post_list %}
            <div class="card border border-dark border-3 m-2 rounded-3">
                <div class="card-header">
                    {% if post.post_id.was_published_recently_post %}
                        <h3>NEW!</h3>
                    {% endif %}
                    {{ post.post_id.id }} |
                        {{ post.post_id.tag_id.tag_text }}
                    <a href="{{ post.file.url }}" class="btn btn-outline-warning" id="download_link" download>Download File</a>
                    <a href="#" class="btn btn-outline-danger">Report</a>
                </div>
                <div class="card-body">
                    <img class="float-start rounded-circle" src="https://images.unsplash.com/photo-1603984973710-e915353b35fa?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Mnx8YW1hemluZyUyMHBpY3R1cmV8ZW58MHx8MHx8fDA%3D&w=1000&q=80" width="50" height="50">
                    <h4 class="card-title m-auto h1">{{ post.post_id.username }}</h4>
                    <br>
                    <p class="card-text">{{ post.post_id.post_content }}</p>
                    <p class="card-text">
                        <a href="{{ post.file.url }}" class="btn btn-outline-primary" target="_blank">View File</a>
                    </p>
                    <h6 class="card-subtitle mb-2 text-muted">{{ post.post_id.post_date }}</h6>

                </div>
                <div class="card-footer custom-footer">
                    <div class="button-group">
                        {% if user.is_authenticated %}
                            <button type="button" class="btn btn-link" id="like-btn-{{ post.pk }}" data-content="{{ post.pk }}" onclick="like_button_click('{{ post.pk }}')">
                                <i class="{{ like_icon_styles|index:forloop.counter0 }}"></i>
                            </button>
                            <span id="likes-count-{{ post.pk }}">{{ post.total_likes }}</span>

                            <button type="button" class="btn btn-link" id="dislike-btn-{{post.pk}}" data-content="{{ post.pk }}" onclick="dislike_button_click('{{ post.pk }}')">
                                <i class="{{ dislike_icon_styles|index:forloop.counter0 }}"></i>
                            </button>
                            <span id="dislikes-count-{{ post.pk }}">{{ post.total_dislikes }}</span>
                        {% else %}
                            <form action="{% url 'account_login' %}">
                                <button type="submit" class="btn btn-link">
                                    <i class="fa-regular fa-thumbs-up"></i>
                                </button>
                                <span>{{ post.total_likes }}</span>
                                <button type="submit" class="btn btn-link">
                                    <i class="fa-regular fa-thumbs-down"></i>
                                </button>
                                <span>{{ post.total_dislikes }}</span>
                            </form>
                        {% endif %}
                    </div>
                </div>
            </div>
        {% endfor %}
    {% else %}
        <h1>No posts are available.</h1>
    {% endif %}

</div>
<script>
function click_button(postId, response) {
    console.log('Server response:', response);
    let like_count = response.data.likes;
    let dislike_count = response.data.dislikes;
    console.log('Like Count:', like_count);
    console.log('Dislike Count:', dislike_count);
    document.getElementById('likes-count-' + postId).innerText = like_count;
    document.getElementById('dislikes-count-' + postId).innerText = dislike_count;
    document.getElementById('like-btn-' + postId).innerHTML = '<i class="' + response.data.like_style + '"></i>';
    document.getElementById('dislike-btn-' + postId).innerHTML = '<i class="' + response.data.dislike_style + '"></i>';
}


function like_button_click(postId) {
    axios({
        url: '{% url "kuhub:like_post" %}',
        method: 'POST',
        data: {
            'post_id': postId,
        },
        headers: {'X-Requested-With': 'XMLHttpRequest', 'cookie': document.cookie},
        xsrfCookieName: 'csrftoken',
        xsrfHeaderName: 'X-CSRFToken',
        withCredentials: true,
    })
    .then(function (response) {
        click_button(postId, response);
    })
    .catch(function (error) {
        console.log('Error:', error);
    });
}

function dislike_button_click(postId) {
    axios({
        url: '{% url "kuhub:dislike_post" %}',
        method: 'POST',
        data: {
            'post_id': postId,
        },
        headers: {'X-Requested-With': 'XMLHttpRequest', 'cookie': document.cookie},
        xsrfCookieName: 'csrftoken',
        xsrfHeaderName: 'X-CSRFToken',
        withCredentials: true,
    })
    .then(function (response) {
        click_button(postId, response);
    })
    .catch(function (error) {
        console.log('Error:', error);
    });
}
</script>
{% endblock %}