{% extends "base.html" %}
{% load static %}

{% block title %}
    <title>Summary-Hub</title>
{% endblock %}
    
<script src="https://kit.fontawesome.com/69adf0a164.js" crossorigin="anonymous"></script>

{% block content %}

{% load custom_filters %}
{% load static %}

<style>
    body {
        background-color: #EDB87C;
    }
    .custom-border {
        border-radius: 10px;
        padding: 20px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        background-color: #eacdac;
    }
</style>

{% if messages %}
    {% for message in messages %}
        <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert" style="font-family: 'Poppins'">
            {{ message }}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    {% endfor %}
{% endif %}

<!-- Search box -->
<div class="container mt-4 custom-border shadow-lg" style="font-family: 'Poppins'">
    <form method="get" action="{% url 'kuhub:summary' %}">
        <div class="row">
            <div class="col-md-4 mb-3">
                <label class="form-label"><strong>{{ form.post_content.label }}:</strong></label>
                <div class="input-group" style="max-width: 400px;">
                    {{ form.post_content }}
                </div>
            </div>

            <div class="col-md-3">
                <label class="form-label"><strong>{{ form.order_by_liked_disliked.label }}:</strong></label>
                <div class="input-group" style="max-width: 200px;">
                    {{ form.order_by_liked_disliked }}
                </div>
            </div>

            <div class="col-md-5">
                <label class="form-label"><strong>{{ form.order_by_post.label }}:</strong></label>
                <div class="input-group" style="max-width: 200px;">
                    {{ form.order_by_post }}
                </div>
            </div>

            <div class="col-md-5">
                <label class="form-label"><strong>{{ form.order_by_download.label }}:</strong></label>
                <div class="input-group" style="max-width: 200px;">
                    {{ form.order_by_download }}
                </div>
            </div>
        </div>

        <div class="col-md-12 mt-3">
            <button type="submit" class="btn btn-success">
                <i class="fa-solid fa-magnifying-glass fa-fade fa-xl"></i>
                <span style="font-family: 'Poppins'">Search</span>
            </button>
        </div>
    </form>
</div>

<!-- Post -->
<div class="container" style="font-family: 'Poppins'">
    {% if summary_post_list %}
        {% for post in summary_post_list %}
            <div class="card border border-1 rounded-4">
                <div class="card-header">
                    <div class="tag-text">
                        {% if post.was_published_recently_post %}
                            <span class="badge rounded-pill text-bg-danger" style="text-align: center; margin-right: 5px;">New!</span>
                        {% endif %}
                        {{ post.post_id.tag_id.tag_text }} |
                        <a href="#">{{ post.post_id.subject.course_code }} {{ post.post_id.subject.name_eng }}</a> |
                        <a href="{% url 'kuhub:gen_ed_type_list' %}#{{ post.post_id.subject.type|slugify }}">{{ post.post_id.subject.type }}</a>
                    </div>
                </div>
                <div class="card-body position-relative">
                    <div class="dropdown position-absolute top-0 end-0">
                        <button class="btn btn-link kebab-menu" type="button" id="kebabMenu{{ post.pk }}" data-bs-toggle="dropdown" aria-expanded="false">
                            <i class="fas fa-ellipsis-v"></i>
                        </button>
                        <ul class="dropdown-menu" aria-labelledby="kebabMenu{{ post.pk }}" style="box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);">
                            {% if user.is_authenticated and post.username == user %}
                                <li><a class="dropdown-item" href="#">Edit Post</a></li>
                            {% else %}
                                <li><a class="dropdown-item" href="#">Report</a></li>
                            {% endif %}
                        </ul>
                    </div>
                    <a href="{% url 'kuhub:profile_view' username=post.post_id.username %}">
                        {% with profile=post.post_id.username.profile %}
                            <div class="d-flex align-items-center"> <!-- Use a flex container for alignment -->
                                <img class="me-2 rounded-circle" src="{% if profile.display_photo %}{{ profile.display_photo.url }}{% else %}{% static 'media/media/store/profile_photos/IMG_7374.jpeg' %}{% endif %}" width="45" height="45" alt="{{ post.username }}'s Profile">
                                <h4 class="card-title" style="font-weight: 550; margin-bottom: 0;">{{ post.post_id.username }}</h4>
                            </div>
                        {% endwith %}
                    </a>
                    <br>
                    <p class="card-text">{{ post.post_id.post_content }}</p>
                    <p class="card-text">
                        <a href="{{ post.file.url }}" class="btn btn-outline-primary" target="_blank">View File</a>
                        <a href="{{ post.file.url }}" class="btn btn-outline-warning" id="download_link" download>Download File</a>
                    </p>
                    <h6 class="card-subtitle mb-2 text-muted"><i class="fa-regular fa-clock" style="margin-right: 5px;"></i>{{ post.post_id.post_date }}</h6>

                </div>
                <div class="card-footer custom-footer">
                    <div class="follow-button-section">
                        {% if user.is_authenticated and user != profile.user %}
                            <button type="button" id="followBtn" class="btn btn-primary" onclick="toggleFollow({{ profile.user.id }}, {{ is_following|yesno:"true,false" }}, event)">
                                {% if is_following %}
                                    Unfollow
                                {% else %}
                                    Follow
                                {% endif %}
                            </button>
                        {% endif %}
                    </div>
                    <div class="button-group">
                        {% if user.is_authenticated %}
                            <button type="button" class="btn btn-link" id="like-btn-{{ post.post_id.pk }}" data-content="{{ post.post_id.pk }}" onclick="like_button_click('{{ post.post_id.pk }}')">
                                <i class="{{ like_icon_styles|index:forloop.counter0 }}"></i>
                            </button>
                            <span id="likes-count-{{ post.post_id.pk }}">{{ post.total_likes }}</span>

                            <button type="button" class="btn btn-link" id="dislike-btn-{{post.post_id.pk}}" data-content="{{ post.post_id.pk }}" onclick="dislike_button_click('{{ post.post_id.pk }}')">
                                <i class="{{ dislike_icon_styles|index:forloop.counter0 }}"></i>
                            </button>
                            <span id="dislikes-count-{{ post.post_id.pk }}">{{ post.total_dislikes }}</span>
                        {% else %}
                            <form action="{% url 'account_login' %}">
                                <button type="submit" class="btn btn-link">
                                    <i class="fa-regular fa-thumbs-up"></i>
                                </button>
                                <span>{{ post.total_likes }}</span>
                                <button type="submit" class="btn btn-link">
                                    <i class="fa-regular fa-thumbs-down"></i>
                                </button>
                                <span>{{ post.total_dislikes }}</span>
                            </form>
                        {% endif %}
                        <a href="{% url 'kuhub:post_detail' pk=post.post_id.pk %}" class="btn btn-link">See comments</a>
                        <a href="{% url 'kuhub:report_post' pk=post.pk %}" class="btn btn-link">Report</a>
                    </div>
                </div>
            </div>
        {% endfor %}
    {% else %}
        <h1>No posts are available.</h1>
    {% endif %}

</div>

<link rel="stylesheet" href="{% static 'kuhub/style.css' %}">

<script>
function click_button(postId, response) {
    console.log('Server response:', response);
    let like_count = response.data.likes;
    let dislike_count = response.data.dislikes;
    console.log('Like Count:', like_count);
    console.log('Dislike Count:', dislike_count);
    document.getElementById('likes-count-' + postId).innerText = like_count;
    document.getElementById('dislikes-count-' + postId).innerText = dislike_count;
    document.getElementById('like-btn-' + postId).innerHTML = '<i class="' + response.data.like_style + '"></i>';
    document.getElementById('dislike-btn-' + postId).innerHTML = '<i class="' + response.data.dislike_style + '"></i>';
}


function like_button_click(postId) {
    axios({
        url: '{% url "kuhub:like_post" %}',
        method: 'POST',
        data: {
            'post_id': postId,
        },
        headers: {'X-Requested-With': 'XMLHttpRequest', 'cookie': document.cookie},
        xsrfCookieName: 'csrftoken',
        xsrfHeaderName: 'X-CSRFToken',
        withCredentials: true,
    })
    .then(function (response) {
        click_button(postId, response);
    })
    .catch(function (error) {
        console.log('Error:', error);
    });
}

function dislike_button_click(postId) {
    axios({
        url: '{% url "kuhub:dislike_post" %}',
        method: 'POST',
        data: {
            'post_id': postId,
        },
        headers: {'X-Requested-With': 'XMLHttpRequest', 'cookie': document.cookie},
        xsrfCookieName: 'csrftoken',
        xsrfHeaderName: 'X-CSRFToken',
        withCredentials: true,
    })
    .then(function (response) {
        click_button(postId, response);
    })
    .catch(function (error) {
        console.log('Error:', error);
    });
}
</script>
{% endblock %}