{% extends "base.html" %}
{% load static %}

{% block title %}
    <title>Tricks-Hub</title>
{% endblock %}
<script src="https://kit.fontawesome.com/69adf0a164.js" crossorigin="anonymous"></script>

{% block content %}

{% load custom_filters %}
{% load static %}

<style>
    .custom-border {
        border: 2px solid #0b791a;
        border-radius: 10px;
        padding: 20px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        background-color: #d9f7be;
    }
</style>

{% if messages %}
    {% for message in messages %}
        <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert" style="font-family: 'Poppins'">
            {{ message }}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    {% endfor %}
{% endif %}

<div class="container mt-4 custom-border">
    <form method="get" action="{% url 'kuhub:tricks' %}">
        <div class="row">
            <div class="col-md-4 mb-3">
                <label class="form-label"><strong>{{ form.post_content.label }}:</strong></label>
                <div class="input-group" style="max-width: 400px;">
                    {{ form.post_content }}
                </div>
            </div>

            <div class="col-md-3">
                <label class="form-label"><strong>{{ form.order_by_liked_disliked.label }}:</strong></label>
                <div class="input-group" style="max-width: 200px;">
                    {{ form.order_by_liked_disliked }}
                </div>
            </div>

            <div class="col-md-5">
                <label class="form-label"><strong>{{ form.order_by_post.label }}:</strong></label>
                <div class="input-group" style="max-width: 200px;">
                    {{ form.order_by_post }}
                </div>
            </div>
        </div>

        <div class="col-md-12 mt-3">
            <button type="submit" class="btn btn-success">
                <i class="fa-solid fa-magnifying-glass fa-fade fa-xl"></i>
                <span style="font-family: 'Poppins'">Search</span>
            </button>
        </div>
    </form>
</div>

<div class="container" style="font-family: 'Poppins'">
    {% if tricks_list %}
        {% for post in tricks_list %}
            <div class="card border border-1 rounded-4">
                <div class="card-header">
                    <div class="tag-text">
                        {% if post.was_published_recently_post %}
                            <span class="badge" style="background-color: red; text-align: center; margin-right: 5px;">New!</span>
                        {% endif %}
                        {{ post.tag_id.tag_text }}
                    </div>
                </div>
                <div class="card-body position-relative">
                    <div class="dropdown position-absolute top-0 end-0">
                        <button class="btn btn-link kebab-menu" type="button" id="kebabMenu{{ post.pk }}" data-bs-toggle="dropdown" aria-expanded="false">
                            <i class="fas fa-ellipsis-v"></i>
                        </button>
                        <ul class="dropdown-menu" aria-labelledby="kebabMenu{{ post.pk }}" style="box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);">
                            {% if user.is_authenticated and post.username == user %}
                                <li><a class="dropdown-item" href="#">Edit Post</a></li>
                            {% else %}
                                <li><a class="dropdown-item" href="#">Report</a></li>
                            {% endif %}
                        </ul>
                    </div>
                    <a href="{% url 'kuhub:profile_view' username=post.username %}">
                        {% with profile=post.username.profile %}
                            <div class="d-flex align-items-center"> <!-- Use a flex container for alignment -->
                                <img class="me-2 rounded-circle" src="{% if profile.display_photo %}{{ profile.display_photo.url }}{% else %}{% static 'media/media/store/profile_photos/IMG_7374.jpeg' %}{% endif %}" width="45" height="45" alt="{{ post.username }}'s Profile">
                                <h4 class="card-title" style="font-weight: 550; margin-bottom: 0;">{{ post.username }}</h4>
                            </div>
                        {% endwith %}
                    </a>
                    <br>
                    <p class="card-text">{{ post.post_content }}</p>
                    <h6 class="card-subtitle mb-2 text-muted"><i class="fa-regular fa-clock" style="margin-right: 5px;"></i>{{ post.post_date }}</h6>
                </div>
                <div class="card-footer custom-footer">
                    <div class="follow-button-section">
                        {% if user.is_authenticated and user != profile.user %}
                            <button type="button" id="followBtn" class="btn btn-primary" onclick="toggleFollow({{ profile.user.id }}, {{ is_following|yesno:"true,false" }}, event)">
                                {% if is_following %}
                                    Unfollow
                                {% else %}
                                    Follow
                                {% endif %}
                            </button>
                        {% endif %}
                    </div>
                    <div class="button-group">
                        {% if user.is_authenticated %}
                            <button type="button" class="btn btn-link" id="like-btn-{{ post.pk }}" data-content="{{ post.pk }}" onclick="like_button_click('{{ post.pk }}')">
                                <i class="{{ like_icon_styles|index:forloop.counter0 }}"></i>
                            </button>
                            <span id="likes-count-{{ post.pk }}">{{ post.total_likes }}</span>

                            <button type="button" class="btn btn-link" id="dislike-btn-{{post.pk}}" data-content="{{ post.pk }}" onclick="dislike_button_click('{{ post.pk }}')">
                                <i class="{{ dislike_icon_styles|index:forloop.counter0 }}"></i>
                            </button>
                            <span id="dislikes-count-{{ post.pk }}">{{ post.total_dislikes }}</span>

                        {% else %}
                            <form action="{% url 'account_login' %}">
                                <button type="submit" class="btn btn-link">
                                    <i class="fa-regular fa-thumbs-up"></i>
                                </button>
                                <span>{{ post.total_likes }}</span>
                                <button type="submit" class="btn btn-link">
                                    <i class="fa-regular fa-thumbs-down"></i>
                                </button>
                                <span>{{ post.total_dislikes }}</span>
                            </form>
                        {% endif %}
                        <a href="{% url 'kuhub:post_detail' pk=post.pk %}" class="btn btn-link">See comments</a>
                        <a href="{% url 'kuhub:report_post' pk=post.pk %}" class="btn btn-link">Report</a>
                    </div>
                </div>
            </div>
        {% endfor %}
    {% else %}
        <h1>No posts are available.</h1>
    {% endif %}
</div>

<link rel="stylesheet" href="{% static 'kuhub/style.css' %}">

<script>
function click_button(postId, response) {
    console.log('Server response:', response);
    let like_count = response.data.likes;
    let dislike_count = response.data.dislikes;
    console.log('Like Count:', like_count);
    console.log('Dislike Count:', dislike_count);
    document.getElementById('likes-count-' + postId).innerText = like_count;
    document.getElementById('dislikes-count-' + postId).innerText = dislike_count;
    document.getElementById('like-btn-' + postId).innerHTML = '<i class="' + response.data.like_style + '"></i>';
    document.getElementById('dislike-btn-' + postId).innerHTML = '<i class="' + response.data.dislike_style + '"></i>';
}


function like_button_click(postId) {
    axios({
        url: '{% url "kuhub:like_post" %}',
        method: 'POST',
        data: {
            'post_id': postId,
        },
        headers: {'X-Requested-With': 'XMLHttpRequest', 'cookie': document.cookie},
        xsrfCookieName: 'csrftoken',
        xsrfHeaderName: 'X-CSRFToken',
        withCredentials: true,
    })
    .then(function (response) {
        click_button(postId, response);
    })
    .catch(function (error) {
        console.log('Error:', error);
    });
}

function dislike_button_click(postId) {
    axios({
        url: '{% url "kuhub:dislike_post" %}',
        method: 'POST',
        data: {
            'post_id': postId,
        },
        headers: {'X-Requested-With': 'XMLHttpRequest', 'cookie': document.cookie},
        xsrfCookieName: 'csrftoken',
        xsrfHeaderName: 'X-CSRFToken',
        withCredentials: true,
    })
    .then(function (response) {
        click_button(postId, response);
    })
    .catch(function (error) {
        console.log('Error:', error);
    });
}
var initialFollowingStatus = {{ is_following|yesno:"true,false" }};

function toggleFollow(userId) {
        $.ajax({
            url: `/kuhub/toggle-follow/${userId}/`,
            method: 'POST',
            headers: { 'X-CSRFToken': getCookie('csrftoken') },
            success: function (data) {
                // Update button text and counts based on server response
                $('#followBtn').text(data.is_following ? 'Unfollow' : 'Follow');
                $('#followersCount').text(data.followers_count);
            },
            error: function (error) {
                console.log('Error:', error);
            }
        });
    }


function getCookie(name) {
    let cookieValue = null;
    if (document.cookie && document.cookie !== '') {
        const cookies = document.cookie.split(';');
        for (let i = 0; i < cookies.length; i++) {
            const cookie = cookies[i].trim();
            if (cookie.startsWith(name + '=')) {
                cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                break;
            }
        }
    }
    return cookieValue;
}

$(document).ready(function () {
    $('#followBtn').text(initialFollowingStatus ? 'Unfollow' : 'Follow');
});
</script>

<style>
    .username-section {
        float: right;
        text-align: right;
    }

    .follow-button-section {
        position: absolute;
        top: 0;
        right: 0;
        margin: 10px;
    }
</style>

{% endblock %}