
body{
    background: rgb(255, 255, 255) url("images/login-bg.jpg") no-repeat;
    background-position: right;
    background-size: auto 150%;
}   
section{
    background-image: linear-gradient(to right,rgb(128, 176, 147), rgb(103, 135, 143));
    height: 100%;
    background-size: cover;
    display: flex;
    justify-content: center; /* Horizontally center the items */
    align-items: center;
}   
@media (min-width: 1000px) {
    section {
        width: 55%;
    }
  }

h1{
    margin-left: 10px;
    font-weight: bold;
}
img{
    border-radius: 50%;
    width: 50px;
    height: auto;

}
.container-xs{
    display: flex;
    align-items: center;
    padding-bottom: 20px;
}
form input[type="text"],
form input[type="password"],
form input[type="email"] {
    background-color: rgba(228, 190, 190, 0);
    border: 2px solid #ffffff;
    margin-bottom: 10px;
    border-radius: 5px;
    text-indent: 10px;
  }
.signup input[type="text"],
.signup input[type="password"],
.signup input[type="email"] {
    background-color: rgba(228, 190, 190, 0);
    border: 2px solid #ffffff;
    margin-bottom: 5px;
    border-radius: 5px;
    text-indent: 10px;
    margin-left: 10px;
    width: 325px;
    height: 40px;
  }
.container{
    font-family: sans-serif;
    line-height: 200%;
    border: 3px solid white;
    border-radius: 10px ;
    color: white;
    padding: 50px;
    line-height: 150%;
    width: 450px;
    height: auto;

}
table{
    line-height: 200%;
    font-weight: lighter;
    margin-bottom: 10px;
}
h3{
    text-align: center;
    font-size: 20px;
    position: relative;
    left: -10px;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 10px;
}
button{
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: rgba(228, 190, 190, 0);
    border: 2px solid #ffffff;
    color: #ffffff;
    width: 200px;
    border-radius: 5px;
    position: relative;
    left: 20%;
    
}
button:hover {
    background-color: #608fc5; /* Change background color on hover */
    color: #ffffff; /* Change text color on hover */
}