/* Style base.html */
.rounded-icon {
    border-radius: 50%;
}
.btn-secondary {
    font-size: 16px;
    background-color: rgb(255, 255, 255);
    border-color: rgb(255, 255, 255);
    color: black;
}
.navbar {
    background-color: whitesmoke;
}
.navbar-nav .nav-link {
    color: rgb(0, 91, 65);
    font-weight: 500; 
}
.offcanvas.offcanvas-start {
    background-color: whitesmoke;
}
.offcanvas-body {
    margin-left: 20px;
    color: whitesmoke;
}
.navbar .form-control {
    border-radius: 25px;
    width: 300px;
    height: 35px;
    margin-top: auto;
}
.navbar .btn-outline-success {
    font-size: 16px;
    padding: 5px 10px;
    background-color: #184E77;
    border-color: #184E77;
    color: aliceblue;
}
.navbar .rounded-circle {
    position: fixed;
    right: 20px;
    top: 33px;
    transform: translateY(-50%);
}
.round-create {
    text-decoration: none;
    background-color: #184E77;
    border: none;
    padding: 5px;
    font-size: 20px;
    height: 50px;
    width: 50px;
    box-shadow: 0 2px 4px rgb(27, 50, 50);
    position: fixed;
    bottom: 30px;
    right: 30px;
    border-radius: 50%;
    cursor: pointer;
    transition: all 0.2s ease;
 }
 .round-create:hover {
    background-color: rgb(164, 200, 195);
 }
 .round-create:active {
    box-shadow: 0 0 2px darkslategray;
    transform: translateY(2px);
}

/* Style review.html, summary.html, tricks.html */
.card {
    margin-top: 40px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}
.card .rounded-circle {
    margin-top: 5px;
    margin-right: 10px;
}
.card-title {
    margin-top: 13px;
    color: rgb(29, 29, 42);
    text-decoration: none;
}
.card-subtitle {
    text-align: end;
}

.button-group {
    display: inline-flex;
    align-items: center;
    gap: 10px;
}

.button-group .btn-link i {
    transition: opacity 0.3s ease-in-out;
}

.button-group .btn-link:hover i {
    opacity: 0.5;
}

.button-group .btn-link:hover .fa-thumbs-up {
    color: green;
}

.button-group .btn-link:hover .fa-thumbs-down {
    color: green;
}

.button-group .btn-link {
    color: black;
}
